{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .grayed{
            filter: grayscale(100%);
        }
    </style>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Profil de {{user.username}}</strong>
            </div>

            <div class="panel-body">
                <label>Nom de compte :</label>
                <div class="well well-sm">{{ user.username }}</div>
                
                <label>Contact :</label>
                <div class="well well-sm">{{ user.email }}</div>
                
                <label>Préférences :</label>
                <div class="row" style="text-align: center;margin-top: 30px; margin-bottom: 30px">
                    <div class="col-sm-2 "> 
                        <img src="https://i.imgur.com/Kg5LDIs.png" alt="Fumeur" class="{{ not user.preference.fumeur ? 'grayed' }}">
                        <h3>Fumeur</h3>
                        <p>Cet utilisateur fume en voiture</p>
                    </div>

                    <div class="col-sm-2 "> 
                        <img src="https://i.imgur.com/zjYS2CK.png" alt="Animal" class="{{ not user.preference.animaux ? 'grayed' }}">
                        <h3>Animal</h3>
                        <p>Cet utilisateur transporte des animaux</p>
                    </div>

                    <div class="col-sm-2 "> 
                        <img src="https://i.imgur.com/nxgZsib.png" alt="Climatisation" class="{{ not user.preference.climatisation ? 'grayed' }}">
                        <h3>Climatisation</h3>
                        <p>Cet utilisateur accepte la climatisation</p>
                    </div>
                    <div class="col-sm-2 "> 
                        <img src="https://i.imgur.com/FtX2K80.png" alt="Gros Bagages" class="{{ not user.preference.grosBagage ? 'grayed' }}">
                        <h3>Gros bagages</h3>
                        <p>Cet utilisateur transporte des gros bagages</p>
                    </div>

                    <div class="col-sm-2 "> 
                        <img src="https://i.imgur.com/Do14u3d.png" alt="Vélo" class="{{ not user.preference.velo ? 'grayed' }}">
                        <h3>Vélo</h3>
                        <p>Cet utilisateur transporte des vélos</p>
                    </div>

                    <div class="col-sm-2 "> 
                        <img src="https://i.imgur.com/qojB42K.png" alt="Ski" class="{{ not user.preference.ski ? 'grayed' }}">
                        <h3>Ski</h3>
                        <p>Cet utilisateur transporte du matériel de ski</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}