<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Covoiturage{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{asset('css/bootstrap.min.css')}}" />
            <link rel="stylesheet" type="text/css" href="{{asset('css/jquery.datetimepicker.min.css')}}" />
            <link rel="stylesheet" type="text/css" href="{{asset('css/basestyle.css')}}" />
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/jquery.datetimepicker.full.min.js') }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">
                        <img class="center-block" src="https://i.imgur.com/X6pJev5.png" alt="CovoitExpress" style="width:30px">
                    </a>
                </div>
                
                <ul class="nav navbar-nav menu" id="menu">
                    <li><a href="{{ path('homepage') }}">Accueil</a></li>
                    <li>
                        <a href="#">Trajets</a>
                        <ul> 
                            <li><a href="{{ path('travel_new')}}">Ajouter Trajet</a></li>
                            <li><a href="{{ path('travel_search')}}">Rechercher Trajet</a></li>
                        </ul>
                    </li>
                    
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('reservation_list') }}">Mes réservations</a></li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right" id="menu">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><p class="navbar-text">Connecté: {{ app.user.username }}</p></li>
                        <li><a href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon-cog"></span> Profil</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Se déconnecter</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_registration_register') }}"><span class="glyphicon glyphicon-user"></span> Créer un compte</a></li>
                        <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> Se connecter</a></li>
                    {% endif %}
                </ul>
            </div>

        </nav>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        
        {% block body %}{% endblock %}
    </body>
</html>