{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form _self %}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert alert-danger">
                {% for error in errors %}
                    <strong>{{ error.message }}</strong>
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Création de compte</strong>
                    </div>
                    
                    <div class="panel-body">
                        {{ form_errors(form) }}
                        {{ form_start(form) }}
                            <div class="form-group">
                                {{ form_row(form.username, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <button class="btn colorTheme" type="submit">Créer un compte</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}