{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form _self %}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert alert-danger">
                {% for error in errors %}
                    <strong>{{ error.message }}</strong>
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block body %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Ajouter un trajet</strong>
            </div>

            <div class="panel-body">
                {{ form_errors(form) }}
                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.villeDepart, {'attr': {'class': 'form-control', 'placeholder':'Ville de départ'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.villeArrivee, {'attr': {'class': 'form-control', 'placeholder':'Ville d\'arrivée'}}) }}
                    </div>
                    <div class="form-group">
                        <label for="dateDepart">Date de départ</label>
                        <div class="row">
                            <div class="col-xs-1">
                                <label>Date</label>
                            </div>
                            <div class="col-xs-2">
                                {{ form_row(form.dateDepart.date.day, {'label':false, 'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-2">
                                {{ form_row(form.dateDepart.date.month, {'label':false, 'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-2">
                                {{ form_row(form.dateDepart.date.year, {'label':false, 'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1">
                                <label>Heure</label>
                            </div>
                            <div class="col-xs-2">
                                {{ form_row(form.dateDepart.time.hour, {'label':false, 'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-2">
                                {{ form_row(form.dateDepart.time.minute, {'label':false, 'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.prix, {'attr': {'class': 'form-control', 'min':'0', 'step':'0.01', 'placeholder':'Prix pour un passager'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.maxPlaces, {'attr': {'class': 'form-control', 'min':'1', 'placeholder':'Nombre de places disponibles'}}) }}
                    </div>
                    <button type="submit" class="btn colorTheme">Ajouter</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}