{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Recherche de trajets</strong>
            </div>

            <div class="panel-body">
                <form action="{{ path("travel_search") }}" method="post">
                    <div class="form-group">
                        <label>Ville de départ :</label>
                        <input id="villeDepart" name="villeDepart" type="text" class="form-control" placeholder="Entrez votre ville de départ">
                    </div>
                    <div class="form-group">
                        <label>Ville d'arrivée :</label>
                        <input id="villeArrivee" name="villeArrivee" type="text" class="form-control" placeholder="Entrez votre ville d'arrivée">
                    </div>
                    <div class="form-group">
                        <label>Date de départ :</label>
                        <input id="dateDepart" name="dateDepart" type="text" class="form-control" placeholder="Date de départ" readonly>
                    </div>
                    <button type="submit" class="btn colorTheme">Rechercher</button>
                </form>

                <script type="text/javascript">
                    $(function () {
                        $('#dateDepart').datetimepicker({
                            value:new Date(),
                            format:'d/m/Y H:i', 
                            defaultDate:new Date(),
                            allowTimes:[
                              '00:00', '01:00', '02:00', '03:00',
                              '04:00', '05:00', '06:00', '07:00',
                              '08:00', '09:00', '10:00', '11:00',
                              '12:00', '13:00', '14:00', '15:00',
                              '16:00', '17:00', '18:00', '19:00',
                              '20:00', '21:00', '22:00', '23:00'
                            ]
                       });
                    });
                </script>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Résultat</strong>
            </div>

            <div class="panel-body">
                {% if trajets is empty %}
                    <div>Aucun trajet ne correspond à vos critères</div>
                {% else %}
                    <table class="table table-hover ">
                        <tr>
                            <th>Ville de départ</th>
                            <th>Ville d'arrivée</th>
                            <th>Prix</th>
                            <th>Heure de départ</th>
                            <th>Action</th>
                        </tr>
                        {% for trajet in trajets %}
                            <tr>
                                <td>{{ trajet.villeDepart }}</td>
                                <td>{{ trajet.villeArrivee }}</td>
                                <td>{{ trajet.prix }}</td>
                                <td>{{ trajet.dateDepart }}</td>
                                <td>
                                    <button class="btn colorTheme">Reserver</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}