{% extends 'base.html.twig' %}

{% block body %}  
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Recherche de trajets</strong>
            </div>

            <div class="panel-body">
                <form action="{{ path("travel_search") }}" method="post">
                    <div class="form-group">
                        <label>Ville de départ :</label>
                        <input id="villeDepart" name="villeDepart" type="text" class="form-control" placeholder="Entrez votre ville de départ">
                    </div>
                    <div class="form-group">
                        <label>Ville d'arrivée :</label>
                        <input id="villeArrivee" name="villeArrivee" type="text" class="form-control" placeholder="Entrez votre ville d'arrivée">
                    </div>
                    <div class="form-group">
                        <label>Date de départ :</label>
                        <input id="dateDepart" name="dateDepart" class="form-control" placeholder="Date de départ" readonly>
                    </div>
                    <button type="submit" class="btn colorTheme">Rechercher</button>
                </form>

                <script type="text/javascript">
                    $(function () {
                        $('#dateDepart').datepicker();
                    });
                </script>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Résultat</strong>
            </div>

            <div class="panel-body">
                {% if trajets is empty %}
                    <div>Aucun trajet ne correspond à vos critères</div>
                {% else %}
                    <table class="table table-hover ">
                        <tr>
                            <th>Ville de départ</th>
                            <th>Ville d'arrivée</th>
                            <th>Prix</th>
                            <th>Heure de départ</th>
                            <th>Action</th>
                        </tr>
                        {% for trajet in trajets %}
                            <tr>
                                <td>{{ trajet.villeDepart }}</td>
                                <td>{{ trajet.villeArrivee }}</td>
                                <td>{{ trajet.prix }} $</td>
                                <td>{{ trajet.dateDepart }}</td>
                                <td>
                                    <form action="{{ path("reservation_new", { 'idTrajet': trajet.id }) }}">
                                        <input class="btn colorTheme" type="submit" value="Reserver" />
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}