<html>
    <body>
        <p>Bonjour {{ username }},</p>
        <p>Vous avez bien réservé une place pour le trajet allant de {{ villeDepart }} à {{ villeArrivee }} le {{ dateDepart|date('m/d/Y') }} à {{ dateDepart|date('h:i') }}</p>
        <p>Vous pouvez prendre contact avec {{ username }} avec son addresse mail {{ mail }}</p>
        <p>Cordialement,</p>
        <p>L'équipe</p>
    </body>
</html>